<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">

    <!-- Pulling in scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtDkrXzXkujBCx8mAFT393o2A5L3Fg6qY"></script>


    <script src="/scripts/app.js"></script>



    <title>iToilet Home Page</title>
  </head>
  <body>
      <div class="row top-page">

        <div class="col s6 offset-s3">
          <h1 class="center-align">iToilet</h1>
        </div>

        <div class="col s8 offset-s2">
          <h2 class="center-align">Got to Go?</h2>
        </div>

      </div>

      <div class="add-toilet center-align">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger center-align" href="#modal1">Add New Toilet</a>

        <!-- Modal Structure -->
        <form class="col s12 new-toilet-form">
        <div id="modal1" class="modal">
          <div class="modal-content row">
              <div class="row">
                <div class="input-field col s6">
                  <input id="name" type="text" class="add-name">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="address" type="text" class="add-address">
                  <label for="address">Address</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <select class="add-rating">
                    <!--<option value="" disabled selected>Rate the toilet</option>-->
                    <option value="1">&#9733;</option>
                    <option value="2">&#9733;&#9733;</option>
                    <option value="3">&#9733;&#9733;&#9733;</option>
                    <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                  </select>
                  <label>Rate the toilet</label>
                </div>
                <div class="input-field col s6">
                  <input id="price" type="number" class="add-price">
                  <label for="price">Price</label>
                </div>
              </div>

                <div class="row">
                  <div class="col s6">
                    <div class="switch">
                      <label>
                        Private
                        <input id="switch-id" type="checkbox" value="Private">
                        <span class="lever"></span>
                        Public
                      </label>
                    </div>
                  </div>
                <div class="col s6">
                  <!--<div class="radio-buttons">-->
                      <input class="with-gap" name="group1" type="radio" value="low" id="test1" />
                      <label class="radio-buttons" for="test1">Low</label>
                      <input class="with-gap" name="group1" type="radio" value="medium" id="test2" />
                      <label class="radio-buttons" for="test2">Medium</label>
                      <input class="with-gap" name="group1" type="radio" value="high" id="test3"  />
                      <label class="radio-buttons" for="test3">High</label>
                  <!--</div>-->
                </div>
                </div>

              <div class="row">
                <div class="input-field col s6">
                  <input id="amount" type="number" class="add-amount">
                  <label for="amount">Number of Toilets</label>
                </div>
                <div class="col s6 input-field">
                  <input id="picture-url" type="text" class="add-picture">
                  <label for="picture-url">Picture URL</label>
                </div>
                    <!--<div class="btn">-->
                      <!--<span>File</span>-->
                      <!--<input class="picture-upload" type="file" multiple>-->
                    <!--</div>-->
                    <!--<div class="file-path-wrapper">-->
                      <!--<input class="file-path validate" type="text" placeholder="Upload one or more files">-->
                    <!--</div>-->
                  <!--</div>-->

              </div>
              <!--<input type="text" class="add-price" placeholder="name">-->



          </div>
          <div class="modal-footer">
            <button type="submit" class="submit-toilet modal-action modal-close waves-effect waves-green btn-flat">Add Toilet</button>
          </div>
        </div>
        </form>

      </div>

      <div class="search-filters">
        <p>Search filters to go here</p>
      </div>




        <div class="row">

          <div class="col s7 map-display">
            <div id="map">
            </div>
          </div>
          <div class="col s5">

            <div id="info">
              <h3>Toilets in the area</h3>
              <ul class="list-toilets">
                <!-- Modal Trigger -->
                <!--<li><a class="waves-effect waves-light modal-trigger" href="#modal2">Pier 7 Toilet Hardcoded</a></li>-->
              </ul>

              <!-- Page Buttons -->
              <button class="previous-button">Previous</button>
              <button class="next-button">Next</button>

            </div>




            <div class="modal-bodies">
            </div>





          </div>

        </div>





      <footer>
        <div class="center-align">
          <p>contact and footer info</p>
        </div>
      </footer>



  </body>
</html>
