<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">

    <!-- Pulling in scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtDkrXzXkujBCx8mAFT393o2A5L3Fg6qY"></script>


    <script src="/scripts/app.js"></script>



    <title>iToilet Home Page</title>
  </head>
  <body>
      <div class="row top-page">

        <div class="col s6 offset-s3">
          <h1 class="center-align">iToilet</h1>
        </div>

        <div class="col s8 offset-s2">
          <h2 class="center-align">Got to Go?</h2>
        </div>

      </div>

      <div class="add-toilet center-align">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger center-align" href="#modal1">Add New Toilet</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content row">
            <form col s12>
              <div class="row">
                <div class="input-field col s6">
                  <input id="name" type="text" class="add-name">
                  <label for="name">Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="address" type="text" class="add-address">
                  <label for="address">Address</label>
                </div>
              <div class="row">
              <div class="input-field col s6">
                <select>
                  <!--<option value="" disabled selected>Rate the toilet</option>-->
                  <option value="1">&#9733;</option>
                  <option value="2">&#9733;&#9733;</option>
                  <option value="3">&#9733;&#9733;&#9733;</option>
                  <option value="4">&#9733;&#9733;&#9733;&#9733;</option>
                  <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                </select>
                <label>Rate the toilet</label>
              </div>
              <div class="input-field col s6">
                <input id="price" type="number" class="add-price">
                <label for="price">Price</label>
              </div>
              </div>
              <input type="text" class="add-price" placeholder="Price">
              <input type="text" class="availability" placeholder="Availability">
              <input type="number" class="add-amount" placeholder="Amount of Toilets">
              <!--<input type="text" class="add-price" placeholder="name">-->


            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

      </div>

      <div class="search-filters">
        <p>Search filters to go here</p>
      </div>




        <div class="row">

          <div class="col s7 map-display">
            <div id="map">
            </div>
          </div>
          <div class="col s5">

            <div id="info">
              <h3>Toilets in the area</h3>
              <ul class="list-toilets">
                <!-- Modal Trigger -->
                <!--<li><a class="waves-effect waves-light modal-trigger" href="#modal2">Pier 7 Toilet Hardcoded</a></li>-->
              </ul>
            </div>




            <div class="modal-bodies">
            </div>





          </div>

        </div>





      <footer>
        <div class="center-align">
          <p>contact and footer info</p>
        </div>
      </footer>



  </body>
</html>
