<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" href="/styles/styles.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed" rel="stylesheet">

    <!-- Pulling in scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtDkrXzXkujBCx8mAFT393o2A5L3Fg6qY"></script>


    <script src="/scripts/app.js"></script>



    <title>iToilet Home Page</title>
  </head>
  <body>
      <div class="row top-page">

        <div class="col s6 offset-s3">
          <h1 class="center-align">iToilet</h1>
        </div>

        <div class="col s8 offset-s2">
          <h2 class="center-align">Got to Go?</h2>
        </div>

      </div>

      <div class="add-toilet center-align">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger center-align" href="#modal1">Add New Toilet</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

      </div>

      <div class="search-filters">
        <p>Search filters to go here</p>
      </div>




        <div class="row">

          <div class="col s7 map-display">
            <div id="map">
            </div>
          </div>
          <div class="col s5">

            <div id="info">
              <h3>Toilets in the area</h3>
              <ul class="list-toilets">
                <!-- Modal Trigger -->
                <li><a class="waves-effect waves-light modal-trigger" href="#toilet1">Pier 7 Toilet</a></li>
              </ul>
            </div>





            <!-- Modal Structure -->
            <div id="toilet1" class="modal">
              <div class="modal-content">
                <div class="row">
                  <div class="toilet-info col s5">
                    <h4>Pier 7 Toilet</h4>
                    <ul>
                      <li>Rating: 5</li>
                      <li>Address: Pier 7</li>
                      <li>Public</li>
                      <li>Price: Free</li>
                      <li>Availability: Medium</li>
                      <li>Amount of Toilets: 1</li>
                    </ul>
                  </div>
                  <div class="toilet-pics col s4">
                    <img src="http://www.freeiconspng.com/uploads/bathroom-restroom-toilet-icon-20.png">
                  </div>
              </div>
                <ol>
                  <li>Review 1</li>
                  <li>Review 2</li>
                </ol>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
              </div>
            </div>


          </div>

        </div>





      <footer>
        <div class="center-align">
          <p>contact and footer info</p>
        </div>
      </footer>



  </body>
</html>
